In [2]:
# this is an example numeric data type in python
x = 6 # this is integer
print(type(x))

x = 6.0 # this is float
print(type(x))

x = 1+2j # this is complex
print(type(x))

<class 'int'>
<class 'float'>
<class 'complex'>

In [4]:
# the numeric data type is immmutable,it's mean that the value can't change
# example
var = 10 
print(var) # result from var 
print(id(var)) # result of memories

var = 11
print(var) # result from var
print(id(var)) # result of memories

10
140706894509128
11
140706894509160

In [5]:
# this is example of boolean
x = True
print(type(x))

x = False
print(type(x))

<class 'bool'>
<class 'bool'>

In [6]:
# example of string
x = 'nics projects'
print(type(x))

<class 'str'>

In [8]:
# you can use three single quate or double quate to save string in multi line
multi_line = """hello !
it's me, nics project
nice to meet you """
print(multi_line)

hello !
it's me, nics project
nice to meet you

In [9]:
# you can access each character from string (substring) using indexing
# here an example
x = 'nics projects'
print(x[0])

n

In [12]:
# but you can't change substring in it, because string is immutable
# it will be show error
x = 'nics projects'
x[0] = 'L'

TypeError: 'str' object does not support item assignment

In [13]:
# you can also access substring using indexing and slicing
x = 'nics projects'
print(x[2:])

cs projects

In [2]:
# this is example of formated string
name = "nics project"
print(f"hello, i am {name}")

hello, i am nics project

In [14]:
# this is example of %-formating
name = 'nics projects'
print("my name %s"% (name))

my name nics projects

In [15]:
# this is example of str.format()
name = 'nics projects'
print("my name {}".format(name))

my name nics projects

In [16]:
# exmample of list
x = [1, 2.2, 'nics projects']
print(type(x))

<class 'list'>

In [17]:
# example of implement indexing in list
x = [1, 'nics project', True, 1.0]
print(x[2])

True

In [18]:
# list in python is mutable
x = [1,2.2, 'nics project']
x[0] = 'mutable'
print(x)

['mutable', 2.2, 'nics project']

In [19]:
# another example of indexing in list
x = ["laptop","monitor","mouse","mousepad","keyboard","webcam","microphone"]
print(x[0])
print(x[2])
print(x[-1])
print(x[-3])

laptop
mouse
microphone
keyboard

In [20]:
# another example of slicing in list
x = ["laptop","monitor","mouse","mousepad","keyboard","webcam","microphone"]
print(x[0:5:2])
print(x[1:])
print(x[:3])

['laptop', 'mouse', 'keyboard']
['monitor', 'mouse', 'mousepad', 'keyboard', 'webcam', 'microphone']
['laptop', 'monitor', 'mouse']

In [21]:
# this is tuple in list
x = (1, "nics projects",1+3j)
print(type(x))

<class 'tuple'>

In [22]:
# another example of tuple in list
x = (5, "program",1+3j)
print(x[1])
print(x[0:3])

program
(5, 'program', (1+3j))

In [23]:
# tuple is immutable, this is an example
# it will show error
x = (5, "program",1+3j)
x[1] = "nics projects"

TypeError: 'tuple' object does not support item assignment

In [3]:
# this is 'set', in python list, you can't use indexing in set
# it will show error
x = {1,2,3,4,5,6,7,8}
print(x[0])

TypeError: 'set' object is not subscriptable

In [4]:
# you can use this 'set' to remove duplicate data
x = {1,2,7,2,3,13,3}
print(x)
print(type(x))

{1, 2, 3, 7, 13}
<class 'set'>

In [5]:
# intersection in pyhon, you can use it to merge two variables data type set using union
set1 = {1,2,3,4,5}
set2 = {4,5,6,7,8}
union = set1.union(set2)
print("Union :",union)

# you can use intersection to find same value
intersection = set1.intersection(set2)
print("Intersection :",intersection)

Union : {1, 2, 3, 4, 5, 6, 7, 8}
Intersection : {4, 5}

In [6]:
# dictionary in python, it's consist of couple key-value
x = {'name':'nics projects','age':24,'isMarried':False}
print(type(x))

<class 'dict'>

In [8]:
# you can't use indexing in dictionary, you have to know the key to get value
# this is the wrong way
x = {'name':'nics projects','age':24,'isMarried':False}
print(x[0])

KeyError: 0

In [10]:
# this is the right way
print(x['name'])

nics projects

In [12]:
# you can add a data in dictionary
x = { 'name': 'nics projects', 'age': 20, 'isMarried': False }
x ['Job'] = "Web Developer"

print(x)

{'name': 'nics projects', 'age': 20, 'isMarried': False, 'Job': 'Web Developer'}

In [15]:
# you can delete a data in dictionary
x = { 'name': 'nics projects', 'age': 20, 'isMarried': False }
del x['isMarried']

print(x)

{'name': 'nics projects', 'age': 20}

In [18]:
# you can edit a data in dictionary
x = { 'name': 'nics projects', 'age': 20, 'isMarried': False }
x ['name'] = "nico lahara"

print(x)

{'name': 'nico lahara', 'age': 20, 'isMarried': False}

In [20]:
# convert integer to float
print(float(5))

5.0

In [22]:
# convert float to integer
print(int(5.6))
print(int(-5.6))

5
-5

In [23]:
# convert from string to other an vice versa
print(int("25"))
print(str(25))
print(float("25"))
print(str(25.6))

25
25
25.0
25.6

In [25]:
# it show error if you convert the wrong value from string to other data type
print(int("1p"))

ValueError: invalid literal for int() with base 10: '1p'

In [27]:
# convert data set
print(set([1,2,3]))
print(tuple({5,6,7}))
print(list('hello'))

{1, 2, 3}
(5, 6, 7)
['h', 'e', 'l', 'l', 'o']

In [29]:
# convert to dictionary
print(dict([[1,2],[3,4]]))

{1: 2, 3: 4}

In [30]:
# convert from some tuple to dicionary
print(dict([(3,26),(4,44)]))

{3: 26, 4: 44}